<div class="container mx-auto my-8">
  <div class="flex items-center mb-8 ">
    <h4 class="h4 ml-10" >
      <span id="communities_count"><%= "#{@communities.count}" %></span>
      <%= " #{t('admin.communities.index.title')}" %>
    </h4>
    <div class="mr-auto flex items-center">
      <%= render partial: "hke/shared/search_box", locals: {url: admin_communities_path} %>
      <%= link_to t('admin.communities.index.create_new'), new_admin_community_path, class: "btn btn-small btn-primary mr-10" %>
    </div>
  </div>
  <div id="search_results">
      <%= render partial: "hke/shared/search_results",
      locals: {       items: @communities,
                      fields: [ :name, :community_type, :created_at],
                other_fields: [{header: t('admin.communities.index.account'), data: "account_name"}],
                actions: [
                  {name: "action_edit", path: :edit_admin_community_path},
                  {name: "action_delete", path: :admin_community_path, method: :delete, confirm: true}
                ]
              } %>
  </div>
</div>
