<%= render 'hke/shared/community_admin_navbar' %>

<div class="container mx-auto my-8">
  <div class="flex items-center mb-8 ">
    <h4 class="h4 ml-10" >
      <span id="people_count"><%= "#{@deceased_people.count}" %></span>
      <%= " #{t('deceased_people')}" %>
    </h4>
    <div class="mr-auto flex items-center">
      <%= render partial: "hke/shared/search_box", locals: {url: deceased_people_path} %>
      <%= link_to t("shared.scaffold.new.title", model: t("deceased_person")), new_deceased_person_path, class: "btn btn-small btn-primary mr-10" %>
    </div>
  </div>
  <div id="search_results">
      <%= render partial: "hke/shared/search_results",
      locals: {       items: @deceased_people,
                      fields: [ :first_name, :last_name, :father_first_name, :mother_first_name,
                                :hebrew_year_of_death, :hebrew_month_of_death, :hebrew_day_of_death,
                                :date_of_death, :gender],
                other_fields: [{header: t('contact_people'), data: "contact_name"}],
                actions: [
                  {name: "action_edit", path: :edit_deceased_person_path},
                  {name: "action_delete", path: :deceased_person_path, method: :delete, confirm: true}
                ]
              } %>
  </div>
</div>