<div id="<%= dom_id address %>">
  <p>
    <strong>Name:</strong>
    <%= address.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= address.description %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= address.region %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= address.zipcode %>
  </p>

  <p>
    <strong>Addressable:</strong>
    <%= address.addressable_id %>
  </p>

</div>
