<div class="container mx-auto my-8">
  <div class="flex items-center mb-8 gap-8">
    <div class="h4 gap-1" >
      <span id="people_count"><%= "#{@future_messages.count}" %></span>
      <%= " #{t('future_messages')} " %>
    </div>
    <div class="flex items-center gap-4">
      <%= render partial: "hke/shared/search_box", locals: {url: future_messages_path} %>
      <%= link_to t("new_future_message"), new_future_message_path, class: "btn btn-small btn-primary mr-10" %>
    </div>
  </div>
  <div id="search_results">
      <%= render partial: "hke/shared/search_results",
      locals: {       items: @future_messages,
                      fields: [:send_date, :full_message, :message_type, :delivery_method, :email, :phone, :token],
                other_fields: [],
                    actions: [{name: "send_individual_message", path: :blast_future_message_path, method: :post}]
              } %>
  </div>
</div>
