<div id="<%= dom_id contact_person %>">
  <p>
    <strong>First name:</strong>
    <%= contact_person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact_person.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_person.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact_person.phone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= contact_person.gender %>
  </p>

</div>
