<div  data-controller="visibility">
  <div class="flex gap-4">
    <%#= toggle_visibility_button %>
    <div> </div>
    <div class="grid grid-cols-7 gap-2">
      <%= text_fld form, :first_name %>
      <%= text_fld form, :last_name %>
      <%= text_fld form, :email %>
      <%= text_fld form, :phone %>
      <%#= select_fld form, :gender, gender_select %>
      <%= select_fld form, :gender, [ [ "זכר" , "זכר" ],  [ "נקבה" , "נקבה" ] ] %>
    </div>
  </div>
</div>
