<div class="container px-4 mx-auto my-8">
  <div class="max-w-3xl mx-auto">
    <div class="flex items-center justify-between mb-4">
      <h1 class="h3"><%= link_to "Contact People", contact_people_path %> > Contact Person #<%= @contact_person.id %></h1>
      <%= link_to t("edit"), edit_contact_person_path(@contact_person), class: "btn btn-link" %>
    </div>

    <div class="p-8 bg-white rounded shadow">
      <div class="mb-4">
        <h5>First name</h5>
        <%= @contact_person.first_name %>
      </div>
      <div class="mb-4">
        <h5>Last name</h5>
        <%= @contact_person.last_name %>
      </div>
      <div class="mb-4">
        <h5>Email</h5>
        <%= @contact_person.email %>
      </div>
      <div class="mb-4">
        <h5>Phone</h5>
        <%= @contact_person.phone %>
      </div>
    </div>
  </div>
</div>
