<%= form_with(model: preference, url: admin_system_preferences_path, method: :patch) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="flex items-center justify-between mb-4 h4">
    <%= t("admin.system_preferences.edit.title") %>
    <div class="mr-auto flex">
      <%= form.button t('save'), class: "btn btn-link" %>
      <%= link_to t("cancel"), admin_system_preferences_path, class: "btn btn-link" %>
    </div>
  </div>

  <%= render "preference_fields", form: form %>

<% end %>
