
    <p class="mb-6 text-gray-700 leading-normal text-xl">דף נחיתה עבור: {{c_name}}</p>
    <div class="font-serif text-lg">
      <p>{{c_salutation}} {{c_name}} שלום וברכה,</p>
      <p> {{welcome}} לאתר יזכור של בית הכנסת בכפר  ורדים.</p>
      <p>לפניך מספר אפשרויות לציון יום הפטירה של {{relation}} {{d_salutation}} {{d_name}}  {{alav}} :</p>
      <ul>
        <li>אמירת קדיש בבית הכנסת על ידי אחד המתפללים.</li>
        <li>עליה לקבר, הדלקת נר נשמה ואמירת תהילים לזכר {{relation}}.</li>
        <li>קידוש לשבת בבית הכנסת.</li>
        <li>תרומת סעודה שלישית בבית הכנסת.</li>
        <li>סעודת מצוה ביום חול עם דרשה לזכר {{relation}}.</li>
        <li>ביקור ושליחת תמונות מאזור הקבר</li>
        <li>ניקוי המצבה וסביבת הקבר</li>
        <li>תחזוקה נוספת של אזור הקבר</li>
      </ul>
    </div>
