<% if items.count > 0 %>
  <div class="bg-white rounded shadow table-responsive text-sm text-right text-gray-700">
      <table class="table border border-grey-500">
        <thead>
          <tr>
            <% fields.each do |field| %>
              <% field_translation = t(field.to_s).presence || "ERROR" %>
              <% if field_translation == "ERROR" %>
                <% puts "@@@@@@@@@ t(field.to_s) in search results is nil for field #{field.to_s}" %>
              <% end %>
              <th class="p-2">
                <%= sortable items, field, field_translation, method: :post %>
              </th>
            <% end %>
            <% other_fields.each do |field| %>
              <th class="p-2"><%= field[:header] %></th>
            <% end %>
            <th class="w-20 p-3 uppercase"><%= t("shared.scaffold.actions") %></th>
          </tr>
        </thead>
        <tbody class="text-base">
          <% items.each do |item| %>
            <%
              edit_item_path = case item.class.name
                when 'Hke::DeceasedPerson'
                  edit_deceased_person_path(item)
                when 'Hke::ContactPerson'
                  edit_contact_person_path(item)
                when 'Hke::Community'
                  edit_admin_community_path(item)
                when 'User'
                  edit_admin_user_path(item)
                else
                  '#'
                end
            %>
            <tr class="border-t  border-gray-400 group hover:bg-gray-100" onclick="window.location='<%= edit_item_path %>';">
              <% fields.each do |field| %>
                <td class="p-2 "><%#= (field != :gender) ? (item.send field) : t((item.send field)) %> <%= item.send field %></td>
                </td>
              <% end %>
              <% other_fields.each do |field| %>
                <td class="p-2 "><%= item.send field[:data] %></td>
              <% end %>
              <td class="flex">
                <% actions.each do |action| %>
                  <%#= button_to t(action[:name]), send(action[:path], item), class: "btn btn-link no-underline ", method: action[:method], data: { turbo: false }%>
                  <%= button_to t(action[:name]), send(action[:path], item),
                          method: action[:method] || :get,
                          class: "btn btn-link no-underline",
                          form: { data: { turbo: false } },
                          data: { confirm: action[:confirm] ? t("are_you_sure") : nil }.compact %>
                <% end %>

                <%#= link_to t("action_edit"), edit_item_path, class: "btn btn-link no-underline " %>
                <%#= link_to t("action_delete"), item, class: "btn btn_link text-red-500 ", method: :delete, data: { confirm: t("are_you_sure") } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
<% end %>